%h3== Welcome!
%p== This is a Rails 3 emulation of a well-known turn-based game #{link_to 'combats.com', url_for(:host => 'combats.com', :port => 80)} (without actual combat itself).
%p== It was made to prove everybody that it’s quite easy to implement one.
Application was made according to the terms of reference.
%hr
%p== To start playing, sign in using one of the methods listed above.
